<article
  class="featured-card"
  role="link"
  tabindex="0"
  [attr.aria-label]="'Read featured article: ' + blog().title"
  (click)="openBlog()"
  (keydown)="openBlog($event)"
>
  <div class="media">
    <div class="media-fallback" aria-hidden="true">
      <span><app-icon name="microscope" [size]="38"/></span>
      <strong>Medical learning,<br>made clearer.</strong>
    </div>
    @if (blog().featuredImage.url) {
      <img
        appImageFallback
        [src]="blog().featuredImage.url | mediaUrl"
        [alt]="blog().featuredImage.alt || blog().title"
        loading="lazy"
      >
    }
    <div class="badges">
      <span><app-icon name="sparkles" [size]="12"/> Featured</span>
      @if (blog().isTrending) { <span class="trending"><app-icon name="flame" [size]="12"/> Trending</span> }
    </div>
    <span class="media-index">Editor’s pick</span>
  </div>

  <div class="content">
    <div class="meta">
      <span>{{ blog().category.categoryName }}</span>
      <span><app-icon name="clock" [size]="14"/> {{ blog().readingTime }} min read</span>
    </div>
    <h3>{{ blog().title }}</h3>
    <p>{{ blog().excerpt || blog().shortDescription }}</p>
    <div class="author">
      <span class="avatar">
        <b>{{ blog().author.fullName.charAt(0) }}</b>
        @if (blog().author.profileImage) {
          <img appImageFallback [src]="blog().author.profileImage | mediaUrl" [alt]="blog().author.fullName" loading="lazy">
        }
      </span>
      <span class="author-copy">
        <strong>{{ blog().author.fullName }}</strong>
        <small>{{ blog().publishedAt | date:'mediumDate' }} · {{ blog().author.designation }}</small>
      </span>
    </div>
    <div class="actions">
      <a [routerLink]="['/dynamic/blogs', blog().slug]" (click)="$event.stopPropagation()">
        Read article <app-icon name="arrow-right" [size]="16"/>
      </a>
      <button
        type="button"
        [class.selected]="ui.isBookmarked(blog()._id)"
        [attr.aria-pressed]="ui.isBookmarked(blog()._id)"
        [attr.aria-label]="(ui.isBookmarked(blog()._id) ? 'Remove bookmark from ' : 'Bookmark ') + blog().title"
        (click)="bookmark($event)"
      ><app-icon name="bookmark" [size]="18"/></button>
      <button type="button" [attr.aria-label]="'Share ' + blog().title" (click)="share($event)">
        @if (ui.copiedBlogSlug() === blog().slug) { <app-icon name="check" [size]="18"/> } @else { <app-icon name="share" [size]="18"/> }
      </button>
    </div>
  </div>
</article>
